@CHARSET "UTF-8";

body{
	text-align:center;
	font-family:Arial, Helvetica, sans-serif;
	font-size:12px;
}

a:link a:visited{
	color:#2D64B3;
	text-decoration:none;
}

.header{
	background-color:#456789;
	height:150px;
}
.careerLog-logo{
	background-image:url(../images/FalconIcon.gif);
	background-repeat:no-repeat;
	background-position:center left;
	width:380px;
	height:150px;
	display:inline-block;
}

.simple-left{
	display:inline;
	float:left;
}

.simple-right{
	display:inline;
	float:right;
}

.header-banner{
	width:1000px;
	margin:0 auto;
}

#loginSection{
	padding-top:30px;
}

#loginButton{
	float:left;
	padding-left:53px;
}

.contentSection{
	width:1000px;
	margin:0 auto;
}

#introduction{
	width:500px;
	padding-right:10px;
}

#indexRegistration{
	width:400px;
}

.border-style{
	border:1px solid #E5E5E5;
}


.sectionModel1{
	height:800px;
	width:850px;
}

.itemModel1{
	height:50px;
	margin:5px;
}

.itemTitle{
	text-align:left;
	margin:5px;
}

.itemContent{
	width:800px;
	heigh:100px;	
	line-heigh:20px;
	border:#B9B9B9 solid 1px;
	background-color:#F9F9F9;
	margin:5px;
	text-align:left;
}

.itemContent a{	
	display:block;
	width:800px;
	float:left;
	overflow:hidden;
	white-space:nowrap;
	padding-right:7px;
	text-align:left;
	text-overflow:ellipsis;
	-o-text-overflow:ellipsis;
}

.element_right{
	float:right;
	margin:5px;
	display:block_inline;
}

.pageNumberElement{
	border:1px solid #CCCCCC;
	float:left;
	font-family:arial;
	font-size:14px;
	line-height:20px;
	margin-left:2px;
	overflow:hidden;
	padding:3px 10px;
	border-radius:3px;
	width:20px;
}
