<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="UserMapper">
	<resultMap type="com.careerlog.entity.User" id="RUser">
		<id property="userId" column="user_id" />
		<result property="userName" column="user_name"/>
		<result property="password" column="password"/>
		<result property="email" column="email"/>
		<result property="firstName" column="first_name"/>
		<result property="lastName" column="last_name"/>
	</resultMap>
	<parameterMap type="com.careerlog.entity.User" id="PUser">
		<parameter property="userId" javaType="int"/>
		<parameter property="userName"/>
		<parameter property="password" />
		<parameter property="email"/>
		<parameter property="firstName"/>
		<parameter property="lastName"/>
	</parameterMap>
	
	
	
	<select id="queryUserById" parameterType="int" resultType="user">
		select * from Users where user_id = #{userId}
	</select>

	<select id="fetchUserByUserName" parameterType="String" resultMap="RUser">
		select * from Users where user_name = #{userName}
	</select>

	<select id="queryUserByName" parameterType="String" resultMap="RUser">
		select * from Users where user_name like CONCAT('%',#{userName},'%')
	</select>
	
	<insert id="insertUser" parameterMap="PUser">	
		<selectKey resultType="int" order="AFTER" keyProperty="userId">
			select last_insert_id() as userId;
		</selectKey>
		insert into Users(user_name, password, email, first_name,last_name) values(#{userName}, #{password}, #{email}, #{firstName}, #{lastName})
	</insert>
	
	<update id="updateUser" parameterMap="PUser">
		update Users set user_name=#{userName}, password=#{password}, email=#{email}, first_name=#{firstName}, last_name=#{lastName} where user_id=#{userId}
	</update>
	
	<select id="queryUserByNameAndPassword" parameterType="loginCommand" resultMap="RUser">
		select * from Users where user_name=#{userName} and password=#{password}
	</select>
	 
	<select id="queryFriendById" parameterType="int" resultMap="RUser">
		select * from Users where user_id in (select friend_id from friends where user_id = #{userId})
	</select>
</mapper>