<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>

	<properties>
		<!--  <property name="dialect" value="mysql"></property>-->
		<property name="databaseType" value="mysql"></property>	
	</properties>
	
	
	<settings>
		<!-- changes from the defaults -->
		<setting name="lazyLoadingEnabled" value="false" />
	</settings>

	<typeAliases>
		<typeAlias alias="user" type="com.careerlog.ProfileService.entity.User"/>
		<typeAlias alias="loginCommand" type="com.careerlog.LoginService.entity.loginCommand" />
		<typeAlias alias="friend" type="com.careerlog.RelationService.entity.Friend"/>
		<typeAlias alias="message" type="com.careerlog.MessageService.entity.Message"/>
		<typeAlias alias="page" type="com.careerlog.MessageService.entity.Page"/>
	</typeAliases>
		
	<plugins>
		  <plugin interceptor="com.careerlog.interceptor.PaginationInterceptor">
		  	<!--  <property name="dialect" value="mysql"/>-->
		 	<property name="databaseType" value="mysql"/>
		  </plugin>
	</plugins>

	<mappers>
		<mapper resource="mapper/UserMapper.xml"/>
		<mapper resource="mapper/FriendMapper.xml" />
		<mapper resource="mapper/MessageMapper.xml"/>
	</mappers>
	
</configuration>